<div>
  <form>
    <h4>Register</h4>
    <hr /> 
    Username : <input type="text" [(ngModel)]="username" name="username" /><br /> 
    Password : <input type="password" [(ngModel)]="password" name="password" /><br /> 
    Confirm Password : <input type="password" [(ngModel)]="confpassword" name="confpassword" /><br />
    <input type="checkbox" [(ngModel)]="acceptlicenseagreement" name="acceptlicenseagreement" /> I accept license agreement<br /> 
    Gender :
    <input type="radio" [(ngModel)]="gender" value="Male" name="gender" />Male
    <input type="radio" [(ngModel)]="gender" value="Female" name="gender" />Female<br /> 
    Country :
    <select [(ngModel)]="country" name="country">
      <option>India</option>
      <option>UK</option>
      <option>USA</option>
    </select>
    <br />
    <input type="button" value="Register" (click)="RegisterClick()" />
    <div [innerHTML]="msg">Click Here</div>
  </form>
</div>
